<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewBag.Title = "Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .btn {
        width: auto;
        background: #47b2e4;
        border-radius: 50px;
    }

        .btn:hover {
            background: #209dd8;
        }
    .checked {
        color: orange;
</style>


<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business</h1>

                <h2>We Provide every solution to get make your life easy</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="RegisterBusiness" class="btn-get-started scrollto">Register Business</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/Assets/img/hero-img.png"  alt="">
            </div>
        </div>
    </div>

</section>

<div class="container aos-init aos-animate pt-3" data-aos="fade-up">
    <div class="section-title pb-0">
        <h2>Registered Businesses.</h2>        
    </div>   
</div>
<section class="section-bg my-1 mx-5 p-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 col-12">
                <h4 class="features text-center">Business Name</h4>
                <p><strong><i>(TagLine)</i></strong></p>
            </div>
            <div class="col-md-3 col-12 p-3">
                <h5>Location</h5>
            </div>
            <div class="col-md-2 col-12">
                <div class="button">
                    <a class="btn text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Details</a>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-left">
                        <p><strong><i>Email</i></strong></p>
                        <p><strong><i>Contact #</i></strong></p>
                        <p><strong><i>Type Of Business</i></strong></p>                                                
                    </div>
                </div>   
            </div>
            <div class="col-md-2">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
</section>
<section class="section-bg my-1 mx-5 p-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 col-12">
                <h4 class="features text-center">Business Name</h4>
                <p><strong><i>(TagLine)</i></strong></p>
            </div>
            <div class="col-md-3 col-12 p-3">
                <h5>Location</h5>
            </div>
            <div class="col-md-2 col-12">
                <div class="button">
                    <a class="btn text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Details</a>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body text-left">
                        <p><strong><i>Email</i></strong></p>
                        <p><strong><i>Contact #</i></strong></p>
                        <p><strong><i>Type Of Business</i></strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
</section>
