<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business</h1>

                <h2 class="text-white">We Provide every solution to get make your life easy by mufeez</h2>

                

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/Assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        An about us page is a specific page on your website where visitors can go if they want to learn more about you or your company. They can be called by many different names including about, about me, our story, mission, etc. But, the purpose is always the same: To tell website visitors who you are and why they should choose your business.
                    </p>
                    <!-- <ul>
                      <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                      <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                      <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    </ul> -->
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        When it comes to personalizing your online store, nothing is more effective than an About Us page. This is a quick summary of your company's history and purpose, and should provide a clear overview of the company's brand story. A great About Us page can help tell your brand story, establish customer loyalty, and turn your bland ecommerce store into an well-loved brand icon. Most importantly, it will give your customers a reason to shop from your brand.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->

    <section id="skills" class="skills section-bg">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3 class="mb-2">Ecommerce</h3>
                    <p class="fst-italic mr-3">
                        Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions. Ecommerce is often used to refer to the sale of physical products online, but it can also describe any kind of commercial transaction that is facilitated through the internet.
                        The history of ecommerce begins with the first ever online sale: on the August 11, 1994 a man sold a CD by the band Sting to his friend through his website NetMarket, an American retail platform. This is the first example of a consumer purchasing a product from a business through the World Wide Web—or “ecommerce” as we commonly know it today.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>

               

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                    <img src="~/Assets/images/ecomerce.jpg" alt="">
                </div>
            </div>

        </div>

    </section>






    <section id="skills" class="skills">
        <div class="container aos-init aos-animate mb-5" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/Assets/img/skills.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 pt-5 pt-lg-0 content aos-init aos-animate" style="margin-top: 50px" data-aos="fade-left" data-aos-delay="100">
                    <h3>Talent Bank</h3>
                    <p class="fst-italic">
                        A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. Career websites, such as Monster, Indeed and SimplyHired, have job portals that offer a broad range of jobs in a vast number of fields
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>
            </div>

        </div>


        <section id="skills" class="skills section-bg">
 
            <div class="container aos-init aos-animate" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                        <h3 class="mb-2">Investor Corner</h3>
                        <p class="fst-italic mr-3">
                            Real estate is the land along with any permanent improvements attached to the land, whether natural or man-made—including water, trees, minerals, buildings, homes, fences, and bridges. Real estate is a form of real property. It differs from personal property, which are things not permanently attached to the land, such as vehicles, boats, jewelry, furniture, and farm equipment.
                        </p>

                        <div class="skills-content">

                            <p></p>

                        </div>

                    </div>



                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                        <img src="~/Assets/images/estate.jpg" alt="">
                    </div>
                </div>

            </div>

        </section>



    </section><!-- End Skills Section -->
    <!-- End Why Us Section -->

    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="/Assets/images/hotel transport.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" style="margin-top: 70px" data-aos="fade-left" data-aos-delay="100">
                    <h3>Booking online</h3>
                    <p class="fst-italic">
                        We want to reward guests who book their suite-only resort stay directly through us at The Excellence Collection! Read on to discover how to receive benefits by booking directly with us, like free airport transfers, free cancellation, and more perks to make your upcoming stay even more convenient and inviting. All you need to do is make a suite-only reservation through our official websites or through our Call Center.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>
            </div>

        </div>

    </section>


    <section id="skills" class="skills section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3 class="mb-2">Branding</h3>
                    <p class="fst-italic mr-5">
                        We will offer rating for businesses and services of all types. Visitors should be able to register their business, and the public to see how we rate them against our standards. Site visitors could also find on that page information related to the affiliated businesses.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>



                <div class="col-lg-4 align-items-stretch order-1 order-lg-2 img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                    <img src="~/Assets/images/branding.jpg" alt="">
                </div>
            </div>

        </div>

    </section>






    

    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="/Assets/images/insurance.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" style="margin-top: 90px" data-aos="fade-left" data-aos-delay="100">
                    <h3>Insurance</h3>
                    <p class="fst-italic">
                        The insurance sector is made up of companies that offer risk management in the form of insurance contracts. The basic concept of insurance is that one party, the insurer, will guarantee payment for an uncertain future event.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>
            </div>

        </div>

    </section>


    <section id="skills" class="skills section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3 class="mb-2">Training and Development</h3>
                    <p class="fst-italic mr-3">
                        There is a range of training provision offered by the department and wider University which covers research, academic and transferable (career) skills. The information below summarises the main courses and providers which students are likely to find useful as well as Training and development describes the formal, ongoing efforts that are made within organizations to improve the performance and self-fulfillment of their employees through a variety of educational methods and programs.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>



                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                    <img src="~/Assets/images/training and development.jpg" alt="">
                </div>
            </div>

        </div>

    </section>

    

    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="/Assets/images/social.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" style="margin-top: 90px" data-aos="fade-left" data-aos-delay="100">
                    <h3>Human Rights and Citizen Duties</h3>
                    <p class="fst-italic">
                        We play role for social, national and international efforts for a better living for all, and to defend, protect Haitian and Haitian friends´interests.Human rights are standards that recognize and protect the dignity of all human beings. Human rights govern how individual human beings live in society and with each other, as well as their relationship with the State and the obligations that the State have towards them.
                    </p>

                    <div class="skills-content">

                        <p></p>

                    </div>

                </div>
            </div>

        </div>

    </section>


    <!-- ======= Services Section ======= -->
    <!-- ======= Cta Section ======= -->
    <!-- ======= Portfolio Section ======= -->
    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen=""></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required="">
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required=""></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>