@{
    ViewBag.Title = "ECommericeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>investorCorner</title>
    <style>
        .section-title {
            margin: 30px;
        }

        .section-bg {
            background-color: #f5f1f1;
        }
    </style>

</head>
<body>


    <section id="why-us" class="why-us section-bg">
        <div class="section-title">
            <h2>WELCOME TO INVESTOR CORNER</h2>
            
        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="https://static.wixstatic.com/media/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.jpg/v1/fill/w_740,h_493,al_c,q_90/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.webp" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3>The Stock Market Collapse of 2021</h3>
                    <p class="fst-italic">
                        A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. Career websites, such as Monster, Indeed and SimplyHired, have job portals that offer a broad range of jobs in a vast number of fields
                    </p>
                    <div class="button">
                        <a href="InvestorProfile" class="btn text-white mt-3" style="background-color: #47b2e4;">Create A Profile</a>
                    </div>
                    <div class="skills-content">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Skills Section -->
    
    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="https://static.wixstatic.com/media/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.jpg/v1/fill/w_740,h_493,al_c,q_90/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.webp" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3>GME, AMC, NOK, or SLV?</h3>
                    <p class="fst-italic">
                        We want to reward guests who book their suite-only resort stay directly through us at The Excellence Collection! Read on to discover how to receive benefits by booking directly with us, like free airport transfers, free cancellation, and more perks to make your upcoming stay even more convenient and inviting. All you need to do is make a suite-only reservation through our official websites or through our Call Center.
                    </p>
                    <div class="button">
                        <a href="InvestorProfile" class="btn text-white mt-3" style="background-color: #47b2e4;">Create A Profile</a>
                    </div>
                    <div class="skills-content">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="skills" class="skills">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <img src="https://static.wixstatic.com/media/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.jpg/v1/fill/w_740,h_493,al_c,q_90/85f96d_9a623bf8c3c449d48191ec697ac6d8d4~mv2.webp" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3>XRP: The Future of Central Banking</h3>
                    <p class="fst-italic">
                        The insurance sector is made up of companies that offer risk management in the form of insurance contracts. The basic concept of insurance is that one party, the insurer, will guarantee payment for an uncertain future event.
                    </p>
                    <div class="button">
                        <a href="InvestorProfile" class="btn text-white mt-3" style="background-color: #47b2e4;">Create A Profile</a>
                    </div>
                    <div class="skills-content">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </section>









</body>
</html>