
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- ======= styling ======= -->
<style>
    .features {
        padding: 15px;
        color: #37517e;
    }

    .btn {           
        background: #47b2e4;
        border-radius: 50px;
    }
    .btn2 {
        width: 40%;   
        background: #47b2e4;        
    }

        .btn:hover {
            background: #209dd8;
        }
</style>



<section  class="contact">
<div class="section-title pt-5">
    <h2>EMPLOYEES</h2>
</div>
</section>


<section class="section-bg mx-5 p-3" >
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-12">
                <h4 class="features text-center">Employee Name</h4>
                <p><strong><i>Skills</i></strong></p>
            </div>
            <div class="col-md-3 col-12 p-3">
                <h5>Location</h5>
            </div>
            <div class="col-md-2 col-12">
                <div class="button">
                    <a class="btn text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Details</a>
                </div>                
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body text-left">
                            <p><strong><i>Skills</i></strong></p>
                            <p><strong><i>Qualification</i></strong></p>
                            <p><strong><i>Email</i></strong></p>
                            <p><strong><i>Experience</i></strong></p>
                            <div class="btn2 text-center">
                                <a href="" class="text-white" >Hire</a>
                            </div>
                        </div>
                    </div>                
            </div>
            <div class="col-md-1"></div>           
        </div>
    </div>
</section>

<br />
