
@{
    ViewBag.Title = "TalentBank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- ======= hero section ======= -->

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/Assets/img/hero-img.png" alt="">
            </div>
        </div>
    </div>
</section>
 <!-- ======= End of Hero Section ======= -->


 <!-- ======= Description ======= -->
    <main id="main">
        <section id="skills" class="skills">
            <div class="container aos-init aos-animate" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                        <img src="~/Assets/img/job.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                        <h3>RECRUITMENT</h3>
                        <p class="fst-italic">
                            With the team of recruitment experts who are not only Human Resource Professionals but also carry immense experience in the Business Operations, we have demonstrated outstanding results in matching the talent to our clients needs. We work across all major industries and functions to find and place the talent that fit the job role and the culture of your organization. Our success has been a result of diligent effort we make in understanding your organization and its needs to reach the right talent. A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. Career websites, such as Monster, Indeed and SimplyHired, have job portals that offer a broad range of jobs in a vast number of fields
                        </p>
                    </div>
                </div>
            </div>
        </section>
  <!-- ======= End of Description ======= -->


  <!-- ======= Features Section ======= -->
        <!-- ======= Feature styling ======= -->
         <style>
            .features {
                padding: 15px;
                color: #37517e;
            }

            .btn {
                width: 100%;
                background: #47b2e4;
                border-radius: 50px;
            }
            .btn:hover{
                background: #209dd8;
            }
        </style>
        <!-- ======= end of Feature Styling ======= -->

        <section id="why-us" class="why-us section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="blocks">
                            <img src="http://theskilllabs.com/images/jobseekers.jpg" class="img-responsive">
                            <h2 class="features text-center">Job Seekers</h2>
                            <p class="fst-italic features">We are always looking out for Talent for our client’s business needs. If you are looking for a job or a change, you have landed in the right place.</p>
                            <ul class="fst-italic features">
                                <li><i aria-hidden="true"></i> Register your Resume</li>
                                <li><i aria-hidden="true"></i> Find a relevant Job</li>
                                <li><i aria-hidden="true"></i> Access the <i>FREE</i> knowledge Bank</li>
                            </ul>
                            <div class="button">
                                <a href="Profile" class="btn text-white">Create A Profile</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="blocks">
                            <img src="http://theskilllabs.com/images/employer.jpg" class="img-responsive">
                            <h2 class="features text-center">Employers</h2>
                            <p class="fst-italic features">
                                From Junior-level to C-Suit how we can help in recruiting & retaining the talent with
                                skills matching your business needs.
                                </class>
                                <ul class="fst-italic features">
                                    <li><i aria-hidden="true"></i> Areas we can help</li>
                                    <li><i aria-hidden="true"></i> Our success stories</li>
                                    <li><i aria-hidden="true"></i> Post a job</li>

                                </ul>
                                <div class="button">
                                    <a href="FindEmployee" class=   "btn text-white">Find a Employee</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= End Of Feature Section ======= -->

        <section>

            <div class="container">
                <div class="row">
                    <div class="title-text">
                        <h3 class="features text-center">NOT SURE WHERE TO START?</h3>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-5"></div>
                    <div class=" col-md-2 col-xs-12 p-2">
                        <div class="button">
                            <a href="TalkUs" class="btn text-white">Talk to Expert</a>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>

        </section>
    </main>
 




